@import 'variables';

.tidy5e.sheet.actor .list-layout .items-list {
	.item {
		h4 {
			flex: 1 !important;
		}
	}

	.item-detail:not(.item-charges) {
		cursor: pointer;
	}

	.item-detail.item-source {
		display: none !important;
	}

	.items-header {
		.items-header-feat-source {
			display: none !important;
		}
	}
}

@mixin header-padding-right($padding, $condition:"") {
	.items-header#{$condition} {
		padding-right: $padding !important;
	}
}

.tidy5e.sheet.actor.bugsheet-modified .list-layout:not(.favorites) {
	.item {
		.item-name {
			font-size: 13px !important;

			.item-image {
				height: 28px !important;
				flex: 0 0 28px !important;
				margin-right: 6px !important;
			}
		}

		h4 {
			line-height: 30px;
		}
	}

	.items-list.classic-controls {
		&:not(.unlocked) {
			&.inventory-list:not(.features-list):not(.spellbook-list) {
				@include header-padding-right(69px);
			}

			&.features-list {
				@include header-padding-right(53px, ":not(:first-child)");

				@include header-padding-right(37px, ":first-child");
			}

			&.spellbook-list {
				@include header-padding-right(69px, ":not(:first-child)");

				@include header-padding-right(53px, ":first-child");
			}
		}

		&.unlocked {
			&.inventory-list:not(.features-list):not(.spellbook-list) {
				@include header-padding-right(85px);
			}

			&.features-list {
				@include header-padding-right(69px, ":not(:first-child)");

				@include header-padding-right(53px, ":first-child");
			}

			&.spellbook-list {
				@include header-padding-right(85px, ":not(:first-child)");

				@include header-padding-right(69px, ":first-child");
			}
		}
	}
}
